@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  line-height: 1.5em;
  background: #69d2e7;
  background: linear-gradient(135deg, #69d2e7 0%, #a7dbd8 25%, #e0e4cc 46%, #e0e4cc 54%, #f38630 75%, #fa6900 100%);
}

hr {
  border: none;
  background: #E0E4CC;
  height: 1px;
  width: 60%;
  display: block;
  margin-left: 0;
}

h1 {
  margin: 12px;
}

.container {
  max-width: 900px;
  margin: 1em auto;
  background: #FFF;
  padding: 20px;
  border-radius: 5px;

}

.productcont {
  display: flex;
  justify-content: space-around;
  margin: 10px 0px 10px 0px;
}

.product {
  padding: 1em;
  border: 1px solid #E0E4CC;
  margin-right: 1em;
  border-radius: 5px;
}

.cart-container {
  border: 1px solid #E0E4CC;
  border-radius: 5px;
  margin-top: 1em;
  padding: 1em;
}

.addtocart {
  border: 1px solid #FA6900;
  color: #fff;
  background: #F38630;
  padding: 0.6em 1em;
  font-size: 1em;
  line-height: 1;
  border-radius: 1.2em;
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.addtocart:hover,
.addtocart:focus,
.addtocart:active {
  background: #A7DBD8;
  border-color: #69D2E7;
  color: #000;
  cursor: pointer;
}

table {
  margin-bottom: 1em;
  border-collapse: collapse;
}

table td,
table th {
  text-align: left;
  padding: 0.25em 1em;
  border-bottom: 1px solid #E0E4CC;
}

#carttotals {
  margin-right: 0;
  margin-left: auto;
}

.cart-buttons {
  width: auto;
  margin-right: 0;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  padding: 1em 0;
}

#emptycart {
  margin-right: 1em;
}

table td:nth-last-child(1) {
  text-align: right;
}


#navbarSupportedContent {
  font-weight: 900;
  padding: 10px;
}

#productimg {
  width: 120px;
}

#logo {
  width: 150px;
}

#textlogo {
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
}

button.Informacion {
  border: 1px solid #69d2e7;
  color: #fff;
  background: #69d2e7;
  padding: 0.6em 1em;
  font-size: 1em;
  line-height: 1;
  border-radius: 1.2em;
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border-color 0.2s ease-in-out;
  margin-top: 10px;

}

button.Informacion:hover,
button.Informacion:focus,
button.Informacion:active {
  background: #F38630;
  border-color: #69D2E7;
  color: #000;
  cursor: pointer;
  outline: none;

}

button#emptycart {
  border: 1px solid #69d2e7;
  color: black;
  background: #69d2e7;
  padding: 0.6em 1em;
  font-size: 1em;
  line-height: 1;
  border-radius: 1.2em;
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border-color 0.2s ease-in-out;
  margin-top: 10px;
}

button#emptycart:hover,
button#emptycart:focus {
  background: #F38630;
  border-color: #69D2E7;
  color: #000;
  cursor: pointer;
}

button#checkout {
  border: 1px solid #69d2e7;
  color: black;
  background: #69d2e7;
  padding: 0.6em 1em;
  font-size: 1em;
  line-height: 1;
  border-radius: 1.2em;
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border-color 0.2s ease-in-out;
  margin-top: 10px;
}

button#checkout:hover,
button#checkout:focus {
  background: #F38630;
  border-color: #69D2E7;
  color: #000;
  cursor: pointer;
}


/*12 CardsInfo*/
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.75rem;
  width: 300px;
  height: 370px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
}

.headercard {
  position: relative;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
  padding: 5px;
  height: auto;
  display: flex;
  justify-content: center;

}

.headercard img {
  opacity: 1;
}

.info {
  border: none;
  padding-top: 1rem;
  text-align: center;
}

.title {
  color: rgb(38 50 56);
  letter-spacing: 0;
  line-height: 1.375;
  font-weight: 900;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;

}

.footercard {
  text-align: center;
}


.buttoncards {
  user-select: none;
  border: none;
  outline: none;
  box-shadow: 0 4px 6px -1px rgba(33, 150, 243, .4), 0 2px 4px -2px rgba(33, 150, 243, .4);
  color: rgb(255 255 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: .75rem;
  padding: 0.5rem 0.8rem;
  background-color: rgb(33 150 243);
  border-radius: 0.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.buttoncards:hover {
  transform: scale(1.05);
}

#cardstypes {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;

}


.card12 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(105, 210, 231, 0.7);
  border-radius: 20px;
  width: 400px;

}


#imgcard {
  width: 300px;
  max-width: 100%
}


.boxproduct {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#alerts {
  font-size: 30px;
}

p {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 500;
}


/*Footer*/
.ftco-section {
  padding: 12em 0;
  background: url(/img/imgmap.jpg);
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


footer {
  padding: 0 0;
  width: 100%;
}

footer-10 {
  background: #222222;
}

#buttonfooter {
  width: 200px;
  height: 45px;
  background: #69d2e7;
  margin-top: 20px;
  border-radius: 10px;
  opacity: 0.8;
  font-weight: 800;
}

#buttonfooter:hover {
  opacity: 1;
}


#titlefooter {
  font-weight: 900;
  text-align: center;
  width: auto;
  opacity: 0.8;
}


.footer-10 {
  background: #FA6900;
  padding: 0 0 0 0;
  font-weight: bold;
}

/*3box horizontal*/
.footer-10 .con.con-1 {
  background: #69d2e7;
}

.footer-10 .con.con-2 {
  background: #FA6900;
}

.footer-10 .con.con-3 {
  background: #69d2e7;
}


.footer-10 .list-unstyled li a {
  color: rgba(255, 255, 255, 0.8);
}

.footer-10 .list-unstyled li a:hover {
  color: #fff;
}

/*Iconos info*/
.footer-10 .con-info .icon {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.footer-10 .con-info span {
  color: rgba(255, 255, 255, 0.8);
}

#verticalbox {
  margin-bottom: 100px;
  width: 100%;
}

#productlist {
  margin-top: 50px;
}


/* Paginacion */
.paginacion {
  margin-top: 20px;
  display: inline-block;
}

.paginacion a {
  color: black;
  float: left;
  padding: 8px 16px;

}

.paginacion a.activo {
  background-color: #A7DBD8;
  color: black;
}

.paginacion a:hover:not(.activo) {
  zoom: 0.95;
}



@media (min-width:768px) {
  #verticalbox {
    max-width: 80%;
    margin: auto;

  }
}